<!DOCTYPE html>
<html lang="en-PH">
<head>
	<meta charset="UTF-8">
	<title><%= options.title %></title>
</head>
<body>
<div class="my-5">
	<div class="container">
		<h1>React Workshop 2018</h1>
	</div>
</div>
<div class="my-5">
	<div class="container">
		<nav>
			<ul class="list-unstyled row"><% for(let i = 1; i < chapters.length; i += 1) { %>
				<li class="col">
					<a class="card my-2" href="<%= chapters[i] %>/index.html">
            <span class="card-header">
              Chapter <%= i %>
            </span>
						<span class="card-body">
              Click here
            </span>
					</a>
				</li>
				<% } %>
			</ul>
		</nav>
	</div>
</div>
</body>
</html>
