<!DOCTYPE html>
<html lang="en-PH">
<head>
	<meta charset="UTF-8">
	<title><%= options.title %></title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="my-5">
	<div class="container">
		<nav>
			<div><% for(let i = 1; i < chapters.length; i += 1) { %>
				<a class="card my-3" href="<%= chapters[i].id %>/index.html">
					<span class="card-header">
						Chapter <%= i %>
					</span>
					<span class="card-body">
						<span class="card-title"><%= chapters[i].title %></span>
					</span>
				</a>
				<% } %>
			</div>
		</nav>
	</div>
</div>
</body>
</html>
